<ion-header-bar align-title="left" class="bar-stable">
  <div class="buttons" ng-controller="barCtrl">
    <a class="button icon-left ion-android-arrow-back  button-clear" style="color: #e2c054" ng-click="goBack()"></a>
  </div>
  <h1 class="title"><div class="bar_titulo">Detalhes</div></h1>
</ion-header-bar>

<ion-content class="has-header background detalhe_filme" ng-controller="detalhesCtrl">
  <img ng-src="http://rest-cinefest.rhcloud.com/imagem?resource={{filme.imagens[0].resource}}" class="img_detalhes_filme">
  <img ng-src="http://rest-cinefest.rhcloud.com/imagem?resource={{filme.imagens[0].resource}}" class="img_detalhes_filme_bloco1">
  <img ng-src="http://rest-cinefest.rhcloud.com/imagem?resource={{filme.imagens[1].resource}}" class="img_detalhes_filme_bloco2">
  <img ng-src="http://rest-cinefest.rhcloud.com/imagem?resource={{filme.imagens[2].resource}}" class="img_detalhes_filme_bloco3">

  <div class="detalhes_filme" style="margin-left: 6%">
    <h4>{{filme.nome}}</h4>
    <b><p>
      <br/>{{filme.cidade}} - {{filme.estado}} - {{filme.ano}}
      <br/>Diretor(es): {{filme.diretor}}
      <br/>Gênero: {{filme.genero}}
      <br/>Tipo: {{filme.tipo}}
      <br/>Duração: {{filme.duracao}}</p>
    <p>Exibição: {{filme.dataExibicao}} - {{filme.horaExibicao}}</b></p>
    <p><b>Sinopse: </b>
      <br/>{{filme.descricaoCompleta}}
    </p>
    <p><b>Currículo do diretor:</b>
    <br/>{{filme.curriculoDiretor}}</p>
    <p><b>Email: </b>{{filme.emailDiretor}}</p>
  </div>
</ion-content>

