<ion-header-bar align-title="left" class="bar-stable">
  <div class="buttons" ng-controller="barCtrl">
    <a class="button icon-left ion-android-arrow-back  button-clear" style="color: #e2c054" ng-click="goBack()"></a>
  </div>
  <h1 class="title"><div class="bar_titulo">Filmes</div></h1>
</ion-header-bar>
<ion-content class="background lista_filmes" ng-controller="filmeCtrl">
  <ion-list>
    <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="filme in lista track by $index" ng-click="detalhe(filme)">
      <img ng-src="http://rest-cinefest.rhcloud.com/imagem?resource={{filme.imagens[0].resource}}">
      <h2>{{filme.nome}}</h2>
      <h2><p><b>{{filme.autor}}</b></p></h2>
      <div class="item-text-wrap">
        <p>{{filme.descricaoCurta}}</p>
      </div>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                       on-infinite="loadMore()"
                       distance="1%">
  </ion-infinite-scroll>
</ion-content>
