<ion-view view-title="Login" hide-back-button="true">
  <ion-content ng-controller="LoginCtrl" padding="true" scroll="false">
    <div class="img_login">
      <img src="img/logo.jpg">
    </div>
    <label class="item item-input">
      <input type="email" placeholder="Email" ng-model="usuario.email">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Senha" ng-model="usuario.senha">
    </label>
    <div class="row">
      <div class="col">
        <button class="button facebook-sign-in icon button-block" ng-click="facebookSignIn()">Facebook</button>
      </div>
      <div class="col">
        <button class="button button-light button-block" ng-click="submit()" type="submit">Login</button>
      </div>
    </div>
    <div class="text-right">
      <button class="button button-clear button-positive small_button pull-right" ng-click="goCadastro()">Faça seu cadastro</button>
    </div>
  </ion-content>
</ion-view>
