<ion-view view-title="Menu" hide-nav-bar="true">
  <ion-content ng-controller="menuCtrl as menu" padding="true" class="background-theme mmenu">
    <div class="row">
      <img src="img/assets/img_logo.png" class="logo-menu"></div>
    </div>
    <div class="row">
      <div class="col col-50 text-center">
        <img src="img/assets/img_filmes.png" class="item_menu" ng-click="menu.go('list_movie')">
        Filmes
      </div>
      <div class="col col-50 text-center">
        <img src="img/assets/img_programacao.png" class="item_menu" ng-click="go('programacao')">
        Programação
      </div>
    </div>
    <div class="row">
      <div class="col col-50 text-center">
        <img src="img/assets/img_sessao_paladar.png" class="item_menu" ng-click="go('sessao_paladar')">
        Sessão Paladar
      </div>
      <div class="col col-50 text-center">
        <img src="img/assets/img_facebook.png" class="item_menu" onclick="window.open('fb://facewebmodal/f?href=https://www.facebook.com/cinefestvoto', '_system');">
        Facebook
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-50 text-center" >
        <img src="img/assets/img_votacao.png" class="item_menu" ng-click="">
        Votação
      </div>
      <div class="col col-50 text-center" >
        <img src="img/assets/img_sobre.png" class="item_menu" ng-click="go('sobre')">
        Sobre
      </div>
    </div>
  </ion-content>
 </ion-view>
