<ion-view view-title="Menu" hide-back-button="true">
  <ion-content ng-controller="MenuCtrl" padding="true" scroll="false">
    <div class = "row">
      <div class = "col text-center">[LOGO / HEADER]</div>
    </div>
    <div class = "row">
      <div class = "col text-center">
        <img src="img/film.png" class="img_menu" ng-click="go('lista_filmes')">
        <br/>
        Filmes
      </div>
      <div class = "col text-center">
        <img src="img/calendar.png" class="img_menu">
        <br/>
        Programação
      </div>
    </div>
    <div class = "row">
      <div class = "col text-center">
        <img src="img/info.png" class="img_menu">
        <br/>
        Informações
      </div>
      <div class = "col text-center">
        <img src="img/fb.png" class="img_menu">
        <br/>
        Facebook
      </div>
    </div>
  </ion-content>
 </ion-view>
