<ion-header-bar align-title="left" class="bar-stable">
  <div class="buttons" ng-controller="barCtrl">
    <a class="button icon-left ion-android-arrow-back  button-clear" style="color: #e2c054" ng-click="goBack()"></a>
  </div>
  <h1 class="title"><div class="bar_titulo">Sessão Paladar</div></h1>
</ion-header-bar>
<div class="bar bar-subheader bar-stable" ng-controller="cardapioCtrl">
  <i class="button button-clear ion-chevron-left" ng-click="anterior()" ng-disabled="cardapio <= 0" style="color:#E5E6E9;"></i>
  <h2 class="title" style="color:#E5E6E9;">{{nome[cardapio]}}</h2>
  <i class="button button-clear ion-chevron-right" ng-click="proximo()" ng-disabled="cardapio >= 4" style="color: #E5E6E9;"> </i>
</div>
<ion-content class="background has-header has-subheader sessao_paladar" scroll="true" ng-controller="cardapioCtrl">
    <img ng-src="{{imagem}}"/>
  <ion-list>
    <ion-item class="item item-text-wrap" ng-repeat="opcao in opcoes track by $index">
      <h3>{{opcao.nome}}</h3>
      <p>{{opcao.ingredientes}}</p>
    </ion-item>
  </ion-list>
</ion-content>

