<ion-header-bar align-title="left" class="bar-stable">
  <div class="buttons" ng-controller="barCtrl">
    <a class="button icon-left ion-android-arrow-back  button-clear" style="color: #e2c054" ng-click="goBack()"></a>
  </div>
  <h1 class="title">
    <div class="bar_titulo">Sobre</div>
  </h1>
</ion-header-bar>

<ion-content class="background votacao sobre">
  <div class="form_sobre">
  <div class="row">
    <div class="col text-center">
      <div class="sobre_txt1">Apoio:</div>
    </div>
  </div>
    <div class="row">
      <div class="col text-center middle">
        <img src="img/logos/Logo_IncentivoCultura.png" class="img_sobre_logo">
      </div>
      <div class="col text-center middle">
        <img src="img/logos/Logo_Ceusn.png" class="img_sobre_logo">
      </div>
    </div>
    <div class="row">
      <div class="col text-center middle">
        <img src="img/logos/preview.png" class="img_sobre_logo">
      </div>
      <div class="col text-center middle">
        <img src="img/logos/mistika.png" class="img_sobre_logo">
      </div>
    </div>
    <div class="row">
      <div class="col text-center middle">
        <img src="img/logos/pipoca.png" class="img_sobre_logo">
      </div>
      <div class="col text-center middle">
        <img src="img/logos/mix.png" class="img_sobre_logo">
      </div>
    </div>

    <div class="row">
      <div class="col text-left">
        <div class="sobre_txt2">Apoio Institucional:</div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="img/logos/Logo_Intrasesc.png" class="img_menu_logo">
      </div>
    </div>
    
    <div class="row">
      <div class="col text-left">
        <div class="sobre_txt2">Correalização:</div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="img/logos/Logo_PrefeituraVotorantim.png" class="img_menu_logo">
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <div class="sobre_txt2">Realização:</div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="img/logos/Logo_Totem.png" class="img_menu_logo">
      </div>
    </div>
    </div>
</ion-content>

