body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.padding_30px {
  padding:50px;
  text-align:center;
}
.large_button {
  line-height: 5vh !important;
  width: 40%;
}
.small_button{
  line-height: 5px !important;
  min-height: 24px !important;
  font-size: 12px;
}
.icon_custom {
  font-size:40px;
  padding:10px;
}
.img_login {
  margin: 10px;
  width: 100% ;
  height: 40% ;
}
.img_login img {
  height: 100% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img_detalhes_filme {
  width: 60% ;
  height: auto;
  margin: 3% 0 0 6%;
}
.img_detalhes_filme_bloco1{
  float: right;
  width: 19%;
  height: auto;
  margin: 3% 5% 4% 9%;
  position: absolute;
}
.img_detalhes_filme_bloco2{
  float: right;
  width: 19%;
  height: auto;
  margin: 23.5% 5% 4% 9%;
  position: absolute;
}
.img_detalhes_filme_bloco3{
  float: right;
  width: 19%;
  height: auto;
  margin: 44% 5% 4% 9%;
  position: absolute;
}
.facebook-sign-in {
  border-radius:3px;
  font-weight: 500;
  color: #FFF;
  background-color: #3b5998;
  border-color: #27447e;
}
.span {
  padding-right: 10px;
  font-size: 10px;
}

.text_response{
  font-weight:bold;
  color: #D8000C;
  margin-left: 0.2cm;
  font-size: 80%;

}
#text_data {
  margin-left: 2cm;
}
.img_menu {
  width: 40%;
}
.img_menu_last_row{
  width:30%;
  padding-top: 30%;
}

.img_menu_logo {
  width: 60%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 5%;
}
.img_grid_content {
  position: absolute;
  height: 80%;
  width: 80%;
}
.bt_voto {
  padding-right: 2%;
}
.scroll-view{
  position: fixed;
  top: 45px;
  bottom: 113px;
  left: 0;
  right: 0;
}

.custom_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* header */
.bar.bar-stable {
  background-color: #1c2836;
  color: #f4f4f4;
}

/* fundo */
.background, .background .pane, .background .item, .background .item-complex .item-content {
  background-color: #1c2836;
}
.mmenu {
  color: white;
}

/*Telas*/
.lista_filmes h2 {
  color: #e2c054;
  font-weight: 500;
}
.lista_filmes p{
  color: #E5E6E9;
}
.lista_filmes i {
  color: #e2c054;

}
.votacao h2{
  color: #e2c054;
  font-weight: bold;
}
.votacao b {
  font-size: 14px;
}
.detalhes_filme h4{
  color: #e2c054;
}
.detalhes_filme b,p{
  color:#E5E6E9;
}
.sobre_txt1{
  color:#E5E6E9;
  margin-top: 30%;
}
.sobre_txt2{
  color:#E5E6E9;
}
.sobre img{
  width: 100px;
}
.form {
  margin-left: 6%;
}
.programacao h5{
  color: #e2c054;
  margin-top: 10%;
}
.programacao p {
  color:#E5E6E9;
}
.form_programacao {
  margin-left: 6%;
  margin-right: 19%;
}
.form_sobre {
  margin-right: 6%;
}
.sessao_paladar img{
  width: 100%;
  height: 50%;

}
.sessao_paladar p,h3{
  color:#E5E6E9;
}
.title.title-center.header-item {
  color: #e2c054;
}
.bar_titulo {
  width: 360px;
  font-size: 22px;
  font-weight: 300;
  color:#e2c054;
}
.list .item-radio input:checked ~ .item-content, .list .item-radio .item-content    {
  background-color: #1c2836;
  color:#E5E6E9;
}

.list .item-radio .radio-icon    {
  color: #e2c054;
}

